In [7]:
import pandas as pd
import numpy as np

x = pd.read_csv('oneHotx.csv')
y= pd.read_csv('y.csv')

In [8]:
test = x.iloc[y[y['GarageType'].isna()].index]
test.head()

,Unnamed: 0,Street,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,LotShape_IR1,LotShape_IR2,LotShape_IR3,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
39,39,2,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,6,2008,82000
48,48,2,0,0,0,0,1,0,0,0,...,0,0,102,0,0,0,0,6,2009,113000
78,78,2,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,4,2010,136500
88,88,2,1,0,0,0,0,1,0,0,...,0,0,156,0,0,0,0,10,2009,85000
89,89,2,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,8,2007,123600

In [9]:
y['GarageType'].value_counts()

Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64

In [15]:
ind=y[y['GarageType'].isna()].index
bad_df = y.index.isin(ind)
p=pd.concat([x,y], axis = 1)
t1=y[~bad_df]
t2=x[~bad_df]
# obj_df["body_style"] = obj_df["body_style"].astype('category')
t1_bkp=t1
t1=t1.astype('category')
t1["GarageTypeCode"]=t1['GarageType'].cat.codes
t1["GarageCondCode"]=t1['GarageCond'].cat.codes
t1["GarageQualCode"]=t1['GarageQual'].cat.codes
t1["GarageFinishCode"]=t1['GarageFinish'].cat.codes
t1["FireplaceQuCode"]=t1['FireplaceQu'].cat.codes
t1["ElectricalCode"]=t1['Electrical'].cat.codes
t1["BsmtFinType2Code"]=t1['BsmtFinType2'].cat.codes
t1["BsmtFinType1Code"]=t1['BsmtFinType1'].cat.codes
t1["BsmtExposureCode"]=t1['BsmtExposure'].cat.codes
t1["BsmtCondCode"]=t1['BsmtCond'].cat.codes
t1["BsmtQualCode"]=t1['BsmtQual'].cat.codes
t1["MasVnrTypeCode"]=t1['MasVnrType'].cat.codes

In [16]:
t1.columns
txt = ['Unnamed: 0','MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'BsmtFinType2', 'Electrical', 'FireplaceQu',
       'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond']
t1=t1.drop(columns=txt, axis=1)
t1.head()

,GarageTypeCode,GarageCondCode,GarageQualCode,GarageFinishCode,FireplaceQuCode,ElectricalCode,BsmtFinType2Code,BsmtFinType1Code,BsmtExposureCode,BsmtCondCode,BsmtQualCode,MasVnrTypeCode
0,1,4,4,1,-1,4,5,2,3,3,2,1
1,1,4,4,1,4,4,5,0,1,3,2,2
2,1,4,4,1,4,4,5,2,2,3,2,1
3,5,4,4,2,2,4,5,0,3,1,3,2
4,1,4,4,1,4,4,5,2,0,3,2,1